body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e8d5d5;
}

header {
  background-color: #ff00ee;
  padding: 20px;
  text-align: center;
  color: white;
}



.equipo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
}

.equipo-container::-webkit-scrollbar {
  height: 8px;
}

.equipo-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.equipo-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}



.miembro {
  /* background: rgb(232, 207, 229); */
  background-color: #e6ecec;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.miembro img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.miembro h2 {
  margin-top: 15px;
  font-size: 1.2em;
}

.miembro p {
  color: #666;
}

.miembro img {
  width: 150px;               /* Tamaño fijo horizontal */
  height: 150px;              /* Tamaño fijo vertical */
  object-fit: cover;          /* Corta la imagen sin deformarla */
  border-radius: 50%;         /* Para que siga siendo circular */
  margin: 0 auto;             /* Centrado opcional si necesitas */
  display: block;
}
